<% if @institutes.empty? %>
  <h3> Oops, no institutes found </h3>
<% else %>
  <h3> List of Institutes: </h3>
  <% @institutes.each do |institute| %>
    <%= named_link_to institute %><br />
  <% end %>

<% end %>